* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, rgb(132, 108, 204), rgb(207, 179, 154));
  background-attachment: fixed;
  text-align: center;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 3rem;
}

/*inline box/display flex*/
.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*don't use clickbacks*/
.circle {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 250, 240);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  pointer-events: none;
  /*don't use it when making websites*/
}

.circle.active {
  background-color: rgba(93, 95, 113, 0.734);
  /*background-image: url(https://i.pinimg.com/564x/28/a5/38/28a53818427467bceef016911ed494b4.jpg);*/
}