* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*background-image: linear-gradient(to right top, rgb(132, 108, 204), rgb(207, 179, 154));*/
body {

  /*background-image: url('https://i.pinimg.com/564x/93/8c/ef/938cef058895474f8dc20d50d36d27d6.jpg');*/
  /*background-image: linear-gradient(to right top, rgb(132, 108, 204), rgb(207, 179, 154));*/
  background-image: linear-gradient(to right top, rgb(57, 37, 86), rgb(246, 181, 242));
  background-color: black;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  /*color: lightslategray;*/
  color: rgb(40, 40, 91);
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 3rem;
  font-weight: 1000;

  /*color: rgba(5, 8, 46, 0.734);*/
}

.modal {
  width: 1000px;
  height: 600px;
  background-color: antiquewhite;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 3px solid #7588;
  border-radius: 18px;
}

#introductionP {
  padding-top: 6px;
  padding-bottom: 8px;
}

#scoreForModal {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  padding-top: 70px;
}

/*inline box/display flex*/
.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

/*  overflow: hidden; */
/*don't use clickbacks*/
.circle {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  pointer-events: none;
  /*don't use it when making websites*/
}

.circle.active {
  background-color: rgba(223, 212, 144, 0.734);
  /*background-image: url(https://i.pinimg.com/564x/28/a5/38/28a53818427467bceef016911ed494b4.jpg);*/
  /*background-size: cover;*/
}

#startButton {
  background-color: rgb(196, 182, 230);
  padding: 10px 20px;
  border-radius: 9%;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 700;
  cursor: pointer;

}

#startButton.none {
  display: none;
}

#endButton {
  background-color: rgb(158, 137, 206);
  padding: 10px 20px;
  border-radius: 9%;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 700;
}

#endButton.none {
  display: none;
}

/*#startButton:hover {}*/